<!-- ===== BOOTSTRAP FOOTER ===== -->
<footer class="footer text-white-50 pt-1 pb-3 mt-auto" style="background: #D5E3D3;">
    <div class="container">
        
        <!-- Bottom Bar -->
        <hr class="border-secondary mt-4">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0 small " style="color: #808080;">
                    &copy; 2026 <span class="text-primary">Joyce Y.</span>. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>